<ion-header>

  <ion-navbar>
    <ion-title>{{recipe.title}}</ion-title>
    <ion-buttons  (click)="presentPopover($event)" end>
      <button ion-button icon-only >
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <div padding>
    <ion-segment [(ngModel)]="section">
      <ion-segment-button value="general">
        Allgemein
      </ion-segment-button>
      <ion-segment-button value="ingredients">
        Zutaten
      </ion-segment-button>
      <ion-segment-button value="steps">
        Zubereitung
      </ion-segment-button>
    </ion-segment>
  </div>

  <!-- Allgemein Section -->
  <div [ngSwitch]="section">
    <div *ngSwitchCase="'general'">
      <img src={{recipe.base64Image}} alt="Default Bild">

      <ul id="recipeInfo">
          <li>{{recipe.time}} Minuten
          <li id="star"><span *ngFor="let star of range(1, recipe.rating)">☆</span>
          <li id="tags"><span *ngFor="let tag of recipe.tags">#{{tag}} </span>
        </ul>
    </div>


    <!-- Zutaten Section -->
    <div *ngSwitchCase="'ingredients'">
      <p>F&uuml;r
        <ion-input
          id="servings"
          value="recipe.portions"
          type="number"
          min="1"
          [(ngModel)]='servingsDefault'
          name ='portions'>
        </ion-input>
        <ion-icon ion-button id="round-button-circle" (click)="calcPortion()" name="refresh"></ion-icon>
        Portion(en):
      </p>

      <ion-list no-lines>
        <ion-item *ngFor="let ingredient of recipe.ingredients; let i = index">
          {{calculatedValues[i]}} {{ingredient[1]}} {{ingredient[2]}}
        </ion-item>
      </ion-list>
    </div>

    <div class="item item-text-wrap" *ngSwitchCase="'steps'">
      {{recipe.preparation}}
    </div>
    <!-- <ion-list no-lines >
      <div class="item item-text-wrap" *ngFor="let step of recipe.preparation; let index = index;">
        {{index+1}}. {{step}}
      </div>
    </ion-list> -->
  </div>
</ion-content>
