page-recipe-details {

h1{
  display: block;
  position: relative;
  top: 20px;
  font-size: 40px;
  text-align: center;
}

#switch button {
  display: inline-block;
  width: 49.5%;
  position: relative;
  top: 5px;
  margin-bottom: 15px;
  background-color: #DCADCA;
  font-size: 20px;
}

#infos {
  margin-top: 25px;
  background-color: #9DCB7E;
  height: 50px;
  text-align: center;

}

li {
  display: inline-block;
  width: 49.5%;
  list-style: none;
}

#zutaten {

}




}
