page-recipe-details {

#titel {
    display: inline-block;
  }

h1{
  font-size: 40px;
  text-align: center;
}

#titelSwitch {
  background-color: white;
  font-size: 20px;
}

#infos {
  background-color: #9DCB7E;
  height: 50px;
}

#zutaten {

}

}
