# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.keystore
*.sw[mnpcod]
*.sln
*.jsproj
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode
npm-debug.log*

.idea/
.vscode/
.sass-cache/
.versions/
coverage/
dist/
node_modules/
tmp/
temp/
platforms/
plugins/
$RECYCLE.BIN/


*.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
