<ion-header>

  <ion-navbar>
    <ion-title>Texterkennung</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngIf="srcImageIng" class="image-wrapper">
    <img id="imageIng" [src]="srcImageIng" />

    <img *ngIf="srcImagePrep" id="imagePrep" [src]="srcImagePrep" />
     <button *ngIf="!srcImagePrep" ion-button icon-left block (click)="addTextPhoto()" color="light">
      <ion-icon name="search"></ion-icon>
      Zubereitung hinzufügen
    </button>
    <button *ngIf="srcImagePrep" ion-button icon-left block (click)="analyze()" color="light">
      <ion-icon name="search"></ion-icon>
      Text auslesen
    </button>
  </div>
</ion-content>
