<ion-header>
  <ion-navbar>
    <ion-title>Hinzufügen</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

<button class="select-image" ion-button block *ngIf="!srcImage" (click)="navigateOptionOne()" color="light">
Manuell hinzufügen</button>
    <button class="select-image" ion-button block *ngIf="!srcImage" (click)="navigateOptionTwo(0)" color="green">
    Fotogalerie</button>
  <button class="select-image" ion-button block *ngIf="!srcImage" (click)="navigateOptionTwo(1)" color="green">
    Foto machen</button>
  <button class="select-image" ion-button block *ngIf="!srcImage" (click)="navigateOptionTwo(2)" color="green">
    Demo Foto</button>

  <div *ngIf="srcImage" class="image-wrapper">
    <img id="image" [src]="srcImage" />
    <button ion-button icon-left block (click)="analyze()" color="light">
      <ion-icon name="search"></ion-icon>
      Read
    </button>
    <button ion-button icon-left block (click)="restart()" color="light">
      <ion-icon name="refresh"></ion-icon>
      Restart
    </button>
  </div>

</ion-content>
