<ion-header>

  <ion-toolbar>
    <ion-buttons left>
      <button ion-button icon-only>
        <ion-icon name="information-circle"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title id="headerTitle">BOIL</ion-title>

    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>

</ion-header>

<ion-content>
  <h1>Meine Rezepte</h1>
  <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="setFilteredItems()"></ion-searchbar>
  <button ion-button full (click)='presentActionSheet()'>Sortieren nach...</button>

  <div class="recipe" *ngFor="let recipe of recipes" (click)="showDetails(recipe)">
        <!--   <div (click)="showDetails(recipe)"> -->

         <!-- <img class="recipeImage" src="_DomSanitizationService.bypassSecurityTrustUrl({{ recipe.base64Image }})" *ngIf="base64Image">-->
        <img class="recipeImage" src="{{ recipe.base64Image }}"/>
        <div id="blackOverlayWrapper"><img id="blackOverlay" src="assets/img/blackOverlay.jpg" /></div>
        <div id="recipeTitle">{{recipe.title}}</div>
        <div class="deleteButton">
          <button ion-button full (click)='delete(recipe)'>delete</button>
        </div>

  </div>
</ion-content>
