<!--
  Generated template for the AddRecipeManually page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Manuelle Eingabe</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list no-lines>
    <!-- Titel
    <ion-item-divider>Titel</ion-item-divider>-->
    <ion-item>
      <ion-input placeholder="Titel eingeben" type="text" [(ngModel)]='title' name ='title' > </ion-input>
    </ion-item>


    <!-- Foto -->
    <!--<ion-item-divider>Foto</ion-item-divider>-->
    <ion-item>
        <!--<img [src]="_DomSanitizationService.bypassSecurityTrustUrl(base64Image)" *ngIf="base64Image">-->
      <img [src]="base64Image" *ngIf="base64Image" />
      <br />
      <button ion-button (click)="takePicture()">Foto aufnehmen</button>
      <button ion-button (click)="accessGallery()">Foto aus Galerie</button>

    </ion-item>

    <!-- Zutaten -->
    <!--TODO:Add ingredients -->
    <ion-list no-lines style="position:relative;">

      <ion-list-header style="">Zutaten:</ion-list-header>
      <button ion-button (click)="addIngredient()" style ="position: absolute; top: 0; right: 0; ">Weitere Zutat</button>

      <!-- One Ingredient -->
      <ion-item-sliding #item *ngFor="let ingredient of ingredients; let index = index; trackBy:trackByIndex;" style="height: auto;">
        <span ion-item [(ngModel)]='ingredient[0]' style="display: inline-block; width: 20%;">
          <ion-label floating>{{index+1}} Menge</ion-label>
          <ion-input type="number"></ion-input>
        </span>
        <span ion-item [(ngModel)]='ingredient[1]' style="display: inline-block; width: 20%;">
          <ion-label floating>Einheit</ion-label>
          <ion-input type="text" ></ion-input>
        </span>
        <span ion-item [(ngModel)]='ingredient[2]' style="display: inline-block; width: 48%;">
          <ion-label floating>Zutat</ion-label>
          <ion-input type="text" ></ion-input>
        </span>
        <ion-item-options>
        <button ion-button icon-only style="" (click)="removeIngredient(ingredient)">
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-item-options>
      </ion-item-sliding>

    </ion-list>
      <div></div>

    <!-- Beschreibung -->
    <ion-list no-lines style="position:relative;">
      <ion-list-header style="">Zubereitung:</ion-list-header>
      <button ion-button (click)="addStep()" style ="position: absolute; top: 0; right: 0; ">Weiterer Schritt</button>
      <ion-item-sliding  *ngFor="let step of steps; let index = index; trackBy:trackByIndex;" style="height: auto;">
        <ion-item>
          <ion-label>{{index+1}}. Schritt: </ion-label>
          <ion-textarea id="step{{index}}" [(ngModel)]="steps[index]" type="text" value="" name='step'></ion-textarea>
        </ion-item>
        <ion-item-options>
          <button ion-button icon-only style="" (click)="removeStep(step)">
            <ion-icon name="close"></ion-icon>
          </button>
        </ion-item-options>
    </ion-item-sliding>

    </ion-list>



        <!-- Portionen -->
        <ion-item-divider>Portionen:</ion-item-divider>
        <ion-item>
          <ion-input placeholder="Anzahl eingeben" type="number" min="0" [(ngModel)]='portions' name ='portions'> </ion-input>
        </ion-item>


    <!-- Zeit -->
    <ion-item-divider>
      Zeit:
    </ion-item-divider>
    <ion-item>
      <ion-input placeholder="Zeit in Minuten" type="number" [(ngModel)]='time' name ='time'> </ion-input>
    </ion-item>

    <!-- Tags -->
    <ion-item-divider>
      Tags:
    </ion-item-divider>
    <ion-item>
      <ion-input placeholder="Einzelne Tags durch Komma trennen" type="text" [(ngModel)]='tagString' name ='tagString'> </ion-input>
    </ion-item>

    <!-- Bewertung -->
    <ion-item-divider>
      Bewertung:
    </ion-item-divider>
    <ion-item>
      <ion-input placeholder="Bewertung von 1 - 5" type="number" [(ngModel)]='rating' name ='rating'> </ion-input>
    </ion-item>

  </ion-list>

  <button ion-button full (click)='saveRecipe()'>Speichern</button>

</ion-content>
