page-shopping-list {

  .delete{
    color: #775069;
  }
  .label-md{
    margin-bottom: 0px;
  }
  .item-md{
    padding-left: 5px;
    padding-right: 5px;
  }
  .scroll-content{
    padding-left: 5px;
    padding-right: 5px;
  }
  .first{
    padding-left:10px;
  }
}
