

<ion-header>

  <ion-navbar>

    <ion-title>Einkaufsliste</ion-title>

    <ion-buttons (click)="presentPopover($event)" end>
      <button ion-button icon-only>
        <ion-icon name="menu" ></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>


<ion-content>

  <div style="width: 100%;">
  <span class="first" ion-item no-lines [(ngModel)]='value' style="display: inline-block; width: 32%;">
    <ion-label class="label" floating><ion-icon name="create" small></ion-icon> Menge</ion-label>
    <ion-input type="number"></ion-input>
  </span>
  <span ion-item no-lines [(ngModel)]='unit' style="display: inline-block; width:32%;">
    <ion-label class="label" floating><ion-icon name="create" small></ion-icon> Einheit</ion-label>
    <ion-input type="text" ></ion-input>
  </span>
  <span ion-item no-lines [(ngModel)]='product' style="display: inline-block; width: 33%;">
    <ion-label class="label" floating><ion-icon name="create" small></ion-icon> Artikel</ion-label>
    <ion-input type="text" ></ion-input>
  </span>
    </div>
    <button ion-button (click)="add() " icon-only full >
      <ion-icon name='add' is-active="true"></ion-icon>
    </button>

  <ion-list no-lines class="falseList" style="position:relative;">
    <div *ngFor="let item of productList">
      <ion-item-sliding *ngIf = "!item.checked">
        <span ion-item style="display: width: 80%;">
          <ion-label class="itemFalse">
            {{item.value}}
            {{item.unit}}
            {{item.product}}
          </ion-label>
          <ion-checkbox class="checkbox" [(ngModel)]="item.checked" (click)="edit(item)"></ion-checkbox>
        </span>
        <ion-item-options>
          <button class="delete" ion-button (click)="delete(item)" clear icon-only>
            <ion-icon name='trash' is-active="true"></ion-icon>
          </button>
          <button class="add" ion-button (click)="editItem(item)" clear icon-only>
            <ion-icon name='create' is-active="true"></ion-icon>
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </div>
  </ion-list>

  <ion-item *ngIf="containsChecked">
    Bereits erledigt
  </ion-item>

  <ion-list no-lines class="trueList" style="position:relative;">
    <div *ngFor="let item of productList">
      <ion-item-sliding *ngIf = "item.checked">
        <span ion-item style="display: width: 80%;">
          <ion-label class="itemTrue">
            {{item.value}}
            {{item.unit}}
            {{item.product}}
          </ion-label>
          <ion-checkbox class="checkbox" [(ngModel)]="item.checked" (click)="edit(item)"></ion-checkbox>
        </span>
        <ion-item-options>
          <button class="delete" ion-button (click)="delete(item)" clear icon-only>
            <ion-icon name='trash' is-active="true"></ion-icon>
          </button>
          <button class="add" ion-button (click)="editItem(item)" clear icon-only>
            <ion-icon name='create' is-active="true"></ion-icon>
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </div>
  </ion-list>

</ion-content>
