page-add-overview {
  .manually {
      margin-top: 5px;
  }

  .scan {
      margin-top: 30px;
  }

  .sectionTitel {
    text-align:center;
    height: 50px;
    border: 0.5px;
    //border-style: dashed;
  }

  .select-image{
    height: 60px;
  }
}
