page-add-overview {
  .manually {
      margin-top: 5px;
  }

  .scan {
      margin-top: 30px;
  }

  .sectionTitel {
    text-align: center;
    height: 50px;
  }

  .select-image{
    height: 60px;
  }

  .placeholder{
    width: 4px;
  }
}
